*{
    box-sizing: border-box;
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('fonts/Roboto-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Bolt';
    src: url('fonts/Roboto_bolt.ttf');
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: #6cb0ad;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1 {
    margin: 0;
    font-family: 'Roboto Bolt';
    font-size: 2.5rem;
    color: #29416c;
}

.main {
    font-family: 'Roboto Regular';
    font-size: 0.875rem;
    color: #737294;
}

.accordion-wrap {
    width: 75%;
}

.accordion-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-title-wrap {
    width: 100%;
    padding: 1.09rem 0;
    border-bottom: 1px solid #737294;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease-in-out
}

.accordion-title {
    margin: 0;
    margin-right: 1.5rem;
    transition: all 0.4s ease-in-out
}

.acoordion-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out
}

svg {
    width: 1.53rem;
    height: 1.53rem;
    fill: none;
    stroke: #737294;
    stroke-width: 0.37rem;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: all 0.4s ease-in-out
}
.accordion-input{
    appearance: none;
}

.img {
    width: 0;
    height: 0;
    transition: all 0.5s ease-in-out
}

.accordion-input:checked ~ .accordion-label .img {
    width: 35%;
    height: 100%;
    border-radius: 20px;
    margin: 1.2rem 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.accordion-input:checked ~ .accordion-label .accordion-title-wrap .acoordion-button {
    transform: rotate(180deg);
}

.footer-title {
    font-family: 'Roboto Bolt';
    font-size: 1.7rem;
    color: #29416c;
}

.icon-box {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.icon-item {
    width: 3rem;
    height: 3rem;
    border-radius: 100px;
    border: 1px solid #29416c;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    transition: all 0.4s ease-in-out
}
.icon-item:last-child {
    margin-right: 0;
}

.icon-item-link {
    text-decoration: none;
    color: #29416c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out
}

@media (any-hover: hover) {
    .accordion-wrap:hover {
        cursor: pointer;
    }
    .accordion-wrap:hover .accordion-title {
        color: #4b447e;
    }
    .accordion-wrap:hover .accordion-title-wrap {
        border-bottom: 1px solid #4b447e;
    }
    .accordion-wrap:hover svg {
        stroke: #4b447e
    }
    .accordion-label:hover {
        cursor: pointer;
    }
    .accordion-item:hover .img {
        width: 35%;
        height: 100%;
        border-radius: 20px;
        margin: 1.2rem 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .accordion-item:hover .acoordion-button {
        transform: rotate(180deg);
    }
    .icon-item:hover {
        border: 1px solid #737294;
    }
    .icon-item:hover .icon-item-link {
        color: #737294;
    }
}

@media (max-width: 820px) {
    .container {
        max-width: 90%;
        margin-bottom: 3%;
    }
    .accordion-wrap {
        width: 85%;
    }
    .accordion-input:checked ~ .accordion-label .img {
        width: 50%;
    }
    .accordion-item:hover .img {
        width: 50%;
    }
    .h1 {
        font-size: 2rem;
    }
    .main {
        font-size: 0.8rem;
    }
    .footer-title {
        font-size: 1.5rem;
    }
}

@media (max-width: 400px) {
    .container {
        max-width: 90%;
        margin-bottom: 0;
    }
    .accordion-wrap {
        width: 100%;
    }
    .accordion-input:checked ~ .accordion-label .img {
        width: 80%;
    }
    .accordion-item:hover .img {
        width: 80%;
    }
    .h1 {
        font-size: 1.5rem;
    }
    .main {
        font-size: 0.6rem;
    }
    svg {
        width: 1rem;
        height: 1rem;
    }
    .footer-title {
        font-size: 1rem;
        text-align: center;
    }
    .icon-item {
        width: 2.3rem;
        height: 2.3rem;
        margin-right: 1rem;
        font-size: 1.3rem;
    }
}